@mixin displayFlex($display, $direction, $justify, $align){
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
};

@mixin size($width, $height){
    width: $width;
    height: $height;
};


@mixin bordersRadius($top-left, $top-right, $bottom-left, $bottom-right){
    border-top-left-radius: $top-left;
    border-top-right-radius: $top-right;
    border-bottom-left-radius: $bottom-left;
    border-bottom-right-radius: $bottom-right;
};

